---
---

@import "bootstrap-5.3.2/scss/bootstrap.scss";

@font-face {
	font-family: "Mija";
	src: url("/assets/font/Mija W03 Regular.ttf");
}

body {
    background: url("/assets/img/confetti.svg");
}

.card-list:hover {
    transform: scale(1.1);
}

.card {
    text-decoration: none;
    font-family: "Mija";
    font-weight: bold;
    font-size: x-large;
}

.card-flag {
    height: 50px;
    width: 50px;
}