---
---

@import "bootstrap-5.3.2/scss/bootstrap.scss";

@font-face {
	font-family: "Baloo";
	src: url("/assets/font/Baloo-Regular.ttf");
}

body {
    background: url("/assets/img/confetti.svg");
}

.card-list:hover {
    transform: scale(1.1);
}

.card {
    text-decoration: none;
    font-family: "Baloo";
    // font-weight: bold;
    font-size: x-large;
    border: none;
}

.card-flag {
    height: 50px;
    width: 50px;
}

.list-group-item {
    border: none;
}

.modal-content {
    border: none;
}

@media print {
    #img-modal {
        height: 148mm;
        width: 105mm;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        border: 1px solid;
    }

    #label-modal {
        height: 148mm;
        width: 105mm;
        position: fixed;
        top: 0;
        left: 120mm;
        margin: 0;
        padding: 0;
        border: 1px solid;
    }
}
